<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 


  <main>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4"><%= title %></h1>
        <p class="lead">Here are some few projects that I did recently</p>
      </div>
    </div>

    <div class="container">

      <div class="card mb-3 w-100">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="/Assets/images/Project1.png" class="card-img" alt="...">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h2>Application form</h2>
              <p class="card-text">Javascript Project-An online application form for a school.</p>
            
              <a href="file:///C:/Users/Christine/Desktop/Semester2/Comp125/Assignments/web/index.html" class="btn btn-primary btn-lg">Project</a>

            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 w-100">
        <div class="row no-gutters">

          <div class="col-md-7">
            <div class="card-body">
              <h2>Baby Monitor Website</h2>
              <p class="card-text"> Html Project- A Baby Monitor Website.</p>
              <a href="///C:/Users/Christine/OneDrive/Semester1/Comp213/Semister1/Assigment3/Assigment3.html" class="btn btn-primary btn-lg">Project</a>

            </div>
          </div>
          <div class="col-md-5">
            <img src="/Assets/images/Project2.png" class="card-img" alt="...">
          </div>
        </div>
      </div>

      <div class="card mb-3 w-100">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="/Assets/images/Project3.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h2>Music Player app  Project</h2>
              <p class="card-text"> C#- Music player  app</p>
            
              
            </div>
          </div>
        </div>
      </div>

    </div>
    

  </main>

<%- include partials/bottom_nav.ejs %>           

<%- include partials/footer.ejs %>    