<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 


  <main>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4"><%= title %></h1>
      </div>
    </div>

    <div class="container">
      

      <div class="card mb-3 w-100" >
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/Assets/images/profile.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h1>About me</h1>
              <p class="card-text mb-5">My name is Christine Kweri. I graduated from University of Nairobi and I had been working as a Maths/Physics High school teacher for 10 years before moving to Canada 5 years ago. It was always my dream to study Sofware  Engineering since i was a young girl and when a chance presented itself, i did not blow it up. In future I wish to work as a web Developer. Besides career, I am a talented singer, I sing Gospel music.</p>
              
              <h2 class="mb-3">Love to do:</h2>
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item">Travelling</li>
                <li class="list-group-item">Playing Netball</li>
                <li class="list-group-item">Coding</li>
              </ul>

              <a href="/Assets/cv.pdf" class="btn btn-primary btn-lg mt-3">Resume</a>
            </div>
          </div>
        </div>
      </div>
    
    </div>

    

  </main>

<%- include partials/bottom_nav.ejs %>           

<%- include partials/footer.ejs %>    