<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 
 
  <main>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4"><%= title %></h1>
        <p class="lead">Welcome to the <%= title %> Page</p>

        <div class="my-5">
          <h2>Christine Kweri</h2>
          <p>Welcome to my express portfolio site. I am a Software engineering student, it is my pleasure to introduce you to some of my projects that i have done recently. If you are interested in making a website for business or personal use, then you are in the right place. My passion for for what i do has been my drving force to sucess.
          </p>
          <p>Student ID: 300957096</p>
          <p>Program: Software Engineering Technology</p>

        </div>

        <div class="my-5">
          <h2>Mission Statement</h2>
          <p>Designing, engaging and delivering high quality products to our clients.
          </p>
        </div>

        <a href="/about" class="btn btn-primary btn-lg mx-auto w-25 d-block">About</a>

      </div>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>           

<%- include partials/footer.ejs %>    