<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 



  <main class="mb-5">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4"><%= title %> Available</h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img src="/Assets/images/Service1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">websites</h5>
              <p class="card-text">Connect and engage with your clients 24/7! We offer solutions to all your web needs at a reasoanble cost. </p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img src="/Assets/images/Service2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Web Designs</h5>
              <p class="card-text">Catch the eye of your clients by our beautiful designs. We offer Web designs services at an affordable cost.</div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img src="/Assets/images/Service3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">App development</h5>
              <p class="card-text">Transform your ideas into a reality at a negotiated cost</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>           

<%- include partials/footer.ejs %>    